/* * {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;
  user-select: none;
}*/

.App {
  text-align: center;
  background: #fafafa;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* Modal style */

.MyModal__close {
    position: absolute; 
    top: 10px; 
    right: 10px;
    width: 24px; 
    height: 24px; 
    background: #ffffff;
    border-radius: 12px; 
    box-shadow: #cccccc 1px 1px 1px; 
    color: #cccccc; 
    text-align: center; 
    text-decoration: none; 
    font-weight: bold; 
    line-height: 25px; 
    cursor: pointer; 
}

.flexcontainer {
  margin-left: auto;
  margin-right: auto;
	flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.flexcontainer .UITable{
	display: inline-block;
    margin: 2px;
}

@media screen and (max-width: 4900px) {
	.flexcontainer {
	  width: 900px;
	}

	.flexcontainer .UITable {
	  width: 400px;
	}
}

@media screen and (max-width: 1440px) {
	.flexcontainer {
		width: 900px;
	}

	.flexcontainer .UITable {
		width: 400px;
	}
}
@media screen and (max-width: 1280px) {
	.flexcontainer {
		width: 900px;
	}

	.flexcontainer .UITable {
		width: 400px;
	}
}
@media screen and (max-width: 1024px) {
	.flexcontainer {
		width: 900px;
	}

	.flexcontainer .UITable {
		width: 400px;
	}

	.popup {
		margin-left: 25%;
		margin-right: 25%;
	}
}
@media screen and (max-width: 960px) {
	.flexcontainer {
		width: 960px;
	}

	.flexcontainer .UITable {
		width: 400px;
	}
}
@media screen and (max-width: 950px) {
	.flexcontainer {
		width: 950px;
	}

	.flexcontainer .UITable {
		width: 400px;
	}
}
@media screen and (max-width: 900px) {
	.flexcontainer {
		width: 900px;
	}

	.flexcontainer .UITable {
		width: 400px;
	}
}

@media screen and (max-width: 850px) {
    .flexcontainer {
        width: 850px;
    }

    .flexcontainer .UITable {
        width: 360px;
    }

    .UITable tbody, .UITable thead, .UITable table {
        width: 360px;
    }
}

@media screen and (max-width: 800px) {
	.flexcontainer {
		width: 800px;
	}

	.flexcontainer .UITable {
		width: 340px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 340px;
    }
}
@media screen and (max-width: 773px) {
	.flexcontainer {
		width: 733px;
	}

	.flexcontainer .UITable {
		width: 370px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 370px;
    }
}
@media screen and (max-width: 768px) {
	.flexcontainer {
		width: 728px;
	}

	.flexcontainer .UITable {
		width: 360px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 360px;
    }
}

@media screen and (max-width: 732px) {
	.flexcontainer {
		width: 702px;
	}

	.flexcontainer .UITable {
		width: 345px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 345px;
    }

	.popup {
		margin-left: 15%;
		margin-right: 15%;
	}
}
@media screen and (max-width: 667px) {
	.flexcontainer {
	  width: 637px;
	}

	.flexcontainer .UITable {
	  width: 300px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 300px;
    }
}
@media screen and (max-width: 640px) {
	.flexcontainer {
	  width: 617px;
	}

	.flexcontainer .UITable {
	  width: 410px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 410px;
    }

}
@media screen and (max-width: 600px) {
	.flexcontainer {
	  width: 587px;
	}

	.flexcontainer .UITable {
	  width: 400px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 400px;
    }

	.UIpic__num {
		display: none;
	}

	.UIpic__cord {
		text-align: center;
		margin: auto;
		background-position: center center;

	}
}

@media screen and (max-width: 568px) {
	.flexcontainer {
	  width: 558px;
	}
}
@media screen and (max-width: 533px) {
	.flexcontainer {
	  width: 523px;
	}

}
@media screen and (max-width: 480px) {
	.flexcontainer {
	  width: 470px;
	}

	.flexcontainer .UITable {
	  width: 385px;
	}
    .UITable tbody, .UITable thead, .UITable table {
        width: 385px;
    }

	.popup {
		margin-left: 10%;
		margin-right: 10%;
	}

	.UIpic__cord {
		text-align: center;
	}
}
@media screen and (max-width: 435px) {
	.flexcontainer {
	  width: 425px;
	}

	.flexcontainer .UITable {
	  width: 375px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 375px;
    }
}

@media screen and (max-width: 412px) {
	.flexcontainer {
	  width: 402px;
        margin-left: -10px;
	}

	.flexcontainer .UITable {
	  width: 360px;
	}
    .UITable tbody, .UITable thead, .UITable table {
        width: 360px;
    }

	.popup {
		margin-left: 7%;
		margin-right: 7%;
	}
}

@media screen and (max-width: 375px) {
	.flexcontainer {
	  width: 375px;
        margin-left: 0px;
	}

	.flexcontainer .UITable {
	  width: 361px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 361px;
    }
}
@media screen and (max-width: 360px) { 
	.flexcontainer {
	  width: 350px;
        margin-left: 4px;
	}

	.flexcontainer .UITable {
	  width: 346px;
	}

    .UITable tbody, .UITable thead, .UITable table {
        width: 346px;
    }

	.popup {
		margin-left: 3%;
		margin-right: 3%;
	}
}

@media screen and (max-width: 340px) {
    .flexcontainer {
        width: 335px;
        margin-left: 0px;
    }

    .flexcontainer .UITable {
        width: 326px;
    }

    .UITable tbody, .UITable thead, .UITable table {
        width: 326px;
    }
}

/*iphone*/
@media screen and (max-width: 326px) {
	.flexcontainer {
	  width: 308px;
		margin:auto;
	}

	.flexcontainer .UITable {
	  width: 307px;
		margin: 0px;
		padding: 0px;
	}
    .UITable tbody, .UITable thead, .UITable table {
        width: 307px;
		margin: 0px;
		padding: 0px;
    }

	.item__l div span {
		font-size: 12px;
	}

	.popup {
		margin-left: 5%;
		margin-right: 5%;
	}

	.smart__field--guest input, .smart__field--tel input {
		width: 240px;
	}
}

body {
	background-color: #f3f2ee;
}

/*Smartphones Portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/*Smartphones landscape*/
@media only screen and (min-width : 321px) {

}

/*Smartphone potrait */
@media only screen and (max-width : 320px) {}

/*Ipad portrait and landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/*Ipad landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/*Ipad portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/*Iphone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {

}