/* LayFooter */

.LayFooter {
    width: 100%;
    height: 116px;
    display: block;
    background: url(../../../court-static/img/bottom.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #D0CDC5;
}
.LayFooter__main {
    margin-top: 20px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.LayFooter__main a {
    color: #ffa066;
    cursor: pointer;
}

.LayFooter__main a:hover {
    color: white;
}

