/* LayHeader */

.Calendar {
    font-size: 12px;
    background: #f4f3ef;
    border: none;
}

.LayHeader__main {
    margin-left: auto;
    margin-right: auto;
}

.LayHeader__day {
    position: relative;
    background: url(../../../court-static/img/tablo.png);
    background-repeat: no-repeat;
    background-position: center center;
    left: 37%;
    margin-left: 5px;

}

.LayHeader__currentday {
    text-align: center;
    display: block;
    line-height: 100px;
    vertical-align: baseline;
    font-size: 49px;
    font-weight: bold !important;
    color: #36445F;
}

.LayHeader__currentday--week {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    display: block;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold !important;
    color: #36445F;
}

.LayHeader__date {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    height: 45px;
}

.LayHeader__date--center {
    width: 150px;
    height: 45px;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
}

.LayHeader__date--center span {
    width: 150px;
    height: 45px;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #ff0000;
}

.LayHeader__arrow {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 45px;
    background: url(../../../court-static/img/arrows.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.LayHeader__currentdate {
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold !important;
    color: #36445F;
}

.LayHeader__currentdate-week {
    display: none;
}

.iCalender {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    z-index: 300;
}

.LHcontainer,
LHcontainer__sub {
    padding: 0;
    margin: 0;
    /* background: #cecece; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: stretch;
    height: 158px;
    justify-content: space-between;
}

LHcontainer__sub2 {
    position: absolute;
    padding: 0px;
    /* background: #cecece; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}

.LHcontainer .LHitem,
.LHcontainer_sub .LHitem {
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: black;
}

.item__l {
    position: absolute;
    top:15px;
    width: 331px;
    /* background-color: #dadada; */
    background: url(../../../court-static/img/korona.png);
    background-repeat: no-repeat;

}

.item__l div {
    padding-top: 75px;
    padding-right: 8px;
    text-align: right !important;
}

.item__l div span {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold !important;
    /* text-shadow: 2px 2px 4px #1A70AC, 0 0 2em #1A70AC; */
    /*text-shadow: 3px 3px 3px #024D98;*/
}

.item__la {
    height: 148px;
    background: url(../../../court-static/img/arrow1.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    width: 94px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.item__d {
    width: 100%;
    position: static;
    /* background-color: #f00000; */
}

.LHitem .item_de {
}

.item__de {
    vertical-align: top;
    margin-top: 20px;
    position: relative;
    /* background-color: #dadada; */
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.item__de div {
    vertical-align: top !important;
    font-weight: bold !important;
    color: #36445F;
}

.LHcenter__day {
    margin-top: 30px;
    text-align: center;
    /* line-height: 158px; */
    font-size: 54px !important;
    cursor: pointer;
}
.LHcenter__weekday {
    text-align: center;
    /* line-height: 158px; */
    font-size: 22px !important;
    cursor: pointer;
}

.item__ra {
    height: 148px;
    background: url(../../../court-static/img/arrow2.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    width: 94px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.item__c {
    position: absolute;
    right: 15%;
    width: 150px;
    height: 148px;
    background-color: #dadada;
    background: url(../../../court-static/img/btn_cal.png);
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.notifications_on {
    position: absolute;
    text-align: center;
    width: 34px;
    height: 34px;
    right: 15%;
    top: 10px;
    color: white;
    margin: 0 auto;
    border-radius: 30px;
    background:#d93643;
    z-index: 1000;
    cursor: pointer;
}

.notifications_on p {
    position: absolute;
    vertical-align: middle;
    right: 13px;
    top: -7px;
}

.notifications_off {
    display: none;
}

.LHcenter__user {
    background-image: url(../../../court-static/icons/guest.png);
    position: absolute;
    background-repeat: no-repeat;
}

.item__v {
    width: 50px;
    background-color: #dadada
}


/*======================ADAPTIVE==================================*/


@media screen and (max-width: 4900px) {
    .LayHeader_container {
        width: 950px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }

    .LayHeader {
        width: 100%;
        height: 204px;
        background: url(../../../court-static/img/top.png), url(../../../court-static/img/bg_header.png);
        background-repeat: no-repeat, repeat;
        background-position: left center, center;
    }
}

@media screen and (max-width: 1440px) {
    .LayHeader_container {
        width: 950px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }
}

@media screen and (max-width: 1280px) {
    .LayHeader_container {
        width: 950px;
    }

    .LayHeader_container .UITable {
        width: 360px;
    }

    .item__l {
        align-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .LayHeader_container {
        width: 950px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }

    .LayHeader {
        width: 100%;
        height: 204px;
        display: block;
        background: url(../../../court-static/img/bg_header.png);
        background-repeat: repeat;
        background-position: center;
    }
}

@media screen and (max-width: 960px) {
    .LayHeader_container {
        width: 950px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }
}

@media screen and (max-width: 950px) {
    .LayHeader_container {
        width: 950px;
    }

    .LayHeader_container .UITable {
        width: 360px;
    }
}

@media screen and (max-width: 900px) {
    .LayHeader_container {
        width: 900px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }
}

@media screen and (max-width: 800px) {
    .LayHeader_container {
        width: 800px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }

    .item__c {
        right: 8%;
    }

    .item__l {
        background: url(../../../court-static/img/korona_small.png) no-repeat;
        width: 210px;
    }

    .LayHeader {
        width: 100%;
        height: 204px;
        display: block;
        background: url(../../../court-static/img/bg_header.png);
        background-repeat: repeat;
        background-position: center;
    }
}

@media screen and (max-width: 773px) {
    .LayHeader_container {
        width: 773px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }
}

@media screen and (max-width: 768px) {
    .LayHeader_container {
        width: 768px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }
}

@media screen and (max-width: 736px) {
    .LayHeader_container {
        width: 730px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }

}

@media screen and (max-width: 732px) {
    .LayHeader_container {
        width: 730px;
    }
    .LayHeader_container .UITable {
        width: 360px;
    }
}

@media screen and (max-width: 667px) {
    .LayHeader_container {
        width: 667px;
    }

    .LayHeader_container .UITable {
        width: 300px;
    }
}

@media screen and (max-width: 640px) {
    .LayHeader_container {
        width: 640px;
    }
    .LayHeader_container .UITable {
        width: 300px;
    }

    .LHcontainer__sub.item__d.LayHeader__day {
        display: none;
    }

    .item__l {
        background: url(../../../court-static/img/korona.png) no-repeat;
        width: 100%;
    }

    .item__c {
        display: none !important;
    }

    .item__l div {
        text-align: center !important;
    }

    .LayHeader__currentdate-week {
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        font-weight: bold !important;
        color: #36445F;
        display: block;
    }

    .LayHeader__currentdate {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .LayHeader_container {
        width: 600px;
    }
    .LayHeader_container .UITable {
        width: 596px;
    }
}

@media screen and (max-width: 568px) {
    .LayHeader_container {
        width: 568px;
    }
    .LayHeader_container .UITable {
        width: 564px;
    }
}

@media screen and (max-width: 533px) {
    .LayHeader_container {
        width: 533px;
    }
    .LayHeader_container .UITable {
        width: 529px;
    }
}

@media screen and (max-width: 480px) {
    .LayHeader_container {
        width: 480px;
    }
    .LayHeader_container .UITable {
        width: 476px;
    }
}

@media screen and (max-width: 435px) {
    .LayHeader_container {
        width: 435px;
    }
    .LayHeader_container .UITable {
        width: 431px;
    }
}

@media screen and (max-width: 414px) {
    .LayHeader_container {
        width: 414px;
    }
    .LayHeader_container .UITable {
        width: 410px;
    }
}

@media screen and (max-width: 412px) {
    .LayHeader_container {
        width: 412px;
    }
    .LayHeader_container .UITable {
        width: 408px;
    }
}

@media screen and (max-width: 384px) {
    .LayHeader_container {
        width: 384px;
    }
    .LayHeader_container .UITable {
        width: 380px;
    }
}

@media screen and (max-width: 375px) {
    .LayHeader_container {
        width: 375px;
    }
    .LayHeader_container .UITable {
        width: 371px;
    }
}

@media screen and (max-width: 360px) {
    .LayHeader_container {
        width: 360px;
    }
    .LayHeader_container .UITable {
        width: 356px;
    }
}

@media screen and (max-width: 320px) {
    .LayHeader_container {
        width: 320px;
    }
    .LayHeader_container .UITable {
        width: 316px;
    }
}


/*Smartphones landscape*/
@media only screen and (min-width : 321px) {

}

/*Smartphone potrait */
@media only screen and (max-width : 320px) {}

/*Ipad portrait and landscape*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/*Ipad landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/*Ipad portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/*Iphone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {

}