/* UITable */
.main {
    width: 100%;
    height: 100%;
    display: initial;
}

.UITable {
    color: #36445E  !important;
}

.UITable tbody, .UITable thead,  .UITable table {
    border: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    width: 400px;
    text-align: center;
}

.UITable thead tr {
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}
.UITable thead tr th {
    border-right: 2px solid #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
    background-color: #36445E !important;
    text-align: center !important;
    color: #ffffff  !important;
    font-size: 19px;
    font-weight: bold;
}
.UITable thead tr td {
    border-bottom: 2px solid #ffffff !important;
    background-color: #36445E !important;
    color: #ffffff  !important;
    border-right: 0px solid #36445E !important;
    font-size: 19px;
    font-weight: bold;

}

.UITable thead tr td:last-child {
    text-align: center !important;
    border-left: 0px solid #36445E !important;
    font-size: 19px;
    font-weight: bold;
}

.UITable tbody tr {
    background-color: #8CDF85 !important;
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
.UITable tbody tr.hiden {
    background-color: #92C3E4 !important;
}
.UITable tbody tr.free {
    background-color: #8CDF85 !important;
}
.UITable tbody tr.holden, .UITable tbody tr.confirmed {
    background-color: #C3A2D7 !important;
}
.UITable tbody tr.holden:hover, .UITable tbody tr.hiden:hover, .UITable tbody tr.confirmed:hover {
    background-color: #af90c3 !important;
}
.UITable tbody tr.free:hover {
    background-color: #73c36c !important;
}
.UITable tbody tr.active:hover {
    background-color: #C3A2D7 !important;
}
.UITable tbody tr {
    border: none !important;
    border-bottom: none !important;
}
.UITable tbody tr th {
    border-right: 2px solid #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
    text-align: center  !important;
    font-weight: normal !important;
    color: #36445E  !important;
    box-shadow: none !important;
}

.UITable tbody tr td {
    border-bottom: 2px solid #ffffff !important;
    color: #36445E  !important;
    padding-top: 3px  !important;
    padding-bottom: 3px  !important;
    box-shadow: none !important;
}

.ui.compact.table th {
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
}

.ui.compact.table td {
    padding-top: 0.1em !important;
    padding-right: 0.3em !important;
    padding-bottom: 0.1em !important;
    padding-left: 0.3em !important;
}

.UIpic__time {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../../../court-static/icons/time.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
    line-height: 32px;
    padding-top: 4px;
}
.UIpic__cord {
    display: inline-block;
    width: 80px;
    height: 40px;
    background: url(../../../court-static/icons/cord.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-align: left;
    line-height: 32px;
    padding-top: 4px;
    margin: 0px;
    padding-right: 0px;
}
.UIpic__num {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: right;
    vertical-align: middle;
    line-height: 32px;
    font-size: 19px;
    padding-top: 4px;
    font-weight: bold !important;
    margin-left: 40px;
}
.UIpic__leased {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../../../court-static/icons/leased.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.UIpic__reserved {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../../../court-static/icons/reserved.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.UIpic__free {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.UIpic__playball {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../../../court-static/icons/playball.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.UIclear {
    margin: 0 !important;
    padding: 0 !important;
}

/*
    .UITable tbody tr:hover {
        opacity: 0.8;
    }
*/

/*
    #36445E
    #92C3E4
    #FFA163
    #C3A2D7
    #8CDF85
*/



.advtooltip {
  pointer-events: auto !important;
  opacity: 0.3 !important;
  z-index: 999 !important;
}

.ReservationPopup {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    transition: opacity 1s ease-in;
    pointer-events: auto;
    overflow-y: auto;
}

.popup {
    margin-top: 160px;
    background: #f7f6f6;
    margin-top: 200px;
    background: #f7f6f6;
    margin-left: 35%;
    padding-right: 15px;
    margin-right: 35%;
    border-radius: 6px;
    padding-bottom: 10px;
}

/* guest.png */
.smart__field--guest input{
  width: 280px;
  height: 34px;
  margin-top: 10px;
  padding-top: 1px;
  padding-left: 32px;
  margin-left: 20px;
  background-color: #ffffff;
  border: 1px solid #DEDDD9;
  border-radius: 4px;
  background-image: url(../../../court-static/icons/guest.png);
  background-repeat: no-repeat;
  background-position: 2% center;
}
/* tel.png */
.smart__field--tel input{
  width: 280px;
  height: 34px;
  margin-top: 10px;
  padding-top: 1px;
  padding-left: 32px;
  margin-left: 20px;
  background-color: #ffffff;
  border: 1px solid #DEDDD9;
  border-radius: 4px;
  background-image: url(../../../court-static/icons/tel.png);
  background-repeat: no-repeat;
  background-position: 2% center;
}
/* tel.png */
.smart__field--username input{
  width: 280px;
  height: 34px;
  /*margin-top: 10px;*/
  padding-top: 1px;
  padding-left: 32px;
  margin-left: 20px;
  background-color: #ffffff;
  border: 1px solid #DEDDD9;
  border-radius: 4px;
  background-image: url(../../../court-static/icons/guest.png);
  background-repeat: no-repeat;
  background-position: 2% center;
}
/* tel.png */
.smart__field--password  input{
  width: 280px;
  height: 34px;
  /*margin-top: 10px;*/
  padding-top: 1px;
  padding-left: 32px;
  margin-left: 20px;
  background-color: #ffffff;
  border: 1px solid #DEDDD9;
  border-radius: 4px;
  background-image: url(../../../court-static/icons/guest.png);
  background-repeat: no-repeat;
  background-position: 2% center;
}

.smart__field input[type="text"], .smart__field--guest input[type="text"], .smart__field--tel input[type="text"], .smart__field--username input[type="text"], .smart__field--password input[type="password"]
{
  background: transparent;
  border: none;
  outline: none;
  color: #36445E;
  width: 280px;
  height: 34px;
}

.form__header {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #4d6584;
    font-weight: bold;
    padding-left: 20%;
    padding-right: 20%;
}

.form__button--submit {
    width: 100px !important;
    margin-top: 25px;
    /* margin-bottom: 15px; */
    background-color: #4d6584;
    color: #ffffff;
    border: 1px solid #36445E;
    border-radius: 4px;
    position: inherit;
    padding: 10px 5px 10px 10px;
}

button[disabled], html input[disabled] {
    cursor: default;
    background-color: #cccccc;
    color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.__react_component_tooltip {
    pointer-events: auto !important;
    z-index: 999;
}


/* UITableAdmin & ManageReservationForm*/

.UITable tbody tr.holden_admin {
    background-color: #d78434 !important;
}
.UITable tbody tr.holden_admin:hover {
    background-color: #c37431 !important;
}

.UITable tbody tr.hiden:hover {
    background-color: #82b1d2 !important;
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.error-message {
    font-size: 10px;
    padding-top: 6px;
    margin: 6px;
    color: red;
}